{% extends 'ft/layouts/app_shell.html' %}
{% load static %}

{% block page_header %}
  {% include 'ft/partials/header_nav.html' %}
{% endblock %}

{% block page_body %}
  <div class="mb-3 app-tabs-container">
    <div class="tab-content">
      {% include 'ft/workspace/panes/workspace.html' %}
      {% include 'ft/workspace/panes/dashboard.html' %}
      {% include 'ft/workspace/panes/live.html' %}
      {% include 'ft/workspace/panes/tools.html' %}
      {% include 'ft/workspace/panes/about.html' %}
    </div>
  </div>
{% endblock %}

{% block body_scripts %}
  {{ block.super }}
  <script type="module" src="{% static 'ft/js/ui/workspace/initControls.js' %}"></script>
{% endblock %}
